.callout {
  padding: 2.5rem 0;
  background: url("../../img/bg-callout.jpg") no-repeat fixed center;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;


  
}

/* h2 {
    font-size: 3.5rem;
    font-weight: 700;
    display: block;
    max-width: 30rem;
  } */